body {
    margin: 0;
    padding: 0;
    width:100vw;
    height: 100vh;
    background-color: #eee;
}
.spinner-wrapper {
    position: fixed;
    z-index: 999999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #242f3f;
}

.spinner {
    position: absolute;
    top: 50%; /* centers the loading animation vertically one the screen */
    left: 50%; /* centers the loading animation horizontally one the screen */
    width: 3.75rem;
    height: 1.25rem;
    margin: -0.625rem 0 0 -1.875rem; /* is width and height divided by two */
    text-align: center;
}

.spinner > div {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background-color: #5f4dee;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.hidden{
    overflow: hidden;
}
.hiddenLogin{
    overflow: hidden;
    overflow-x: hidden;
}
.hidden2{
    overflow-x: hidden;
}

.bg-claro{
    background-color: #DFDFDF;
}

.custom-input-file {
  background-color: black;
  color: black;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin: 0 auto 0;
  min-height: 15px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 400px;
}

.custom-input-file .input-file {
 border: 10000px solid transparent;
 cursor: pointer;
 font-size: 10000px;
 margin: 0;
 opacity: 0;
 outline: 0 none;
 padding: 0;
 position: absolute;
 right: -1000px;
 top: -1000px;
}

/*input*/
.input-group{
    
    position: relative;

}

.input{
    padding: 10px;
    border: none;
    border-radius: 4px;
    font: inherit;
    color: black;
    background-color: transparent;
    outline: 2px solid black;
    
}

.input-label{
    
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, 10px);
    transition: transform .25s;
    
}

.input:focus +.input-label,
.input:valid +.input-label{
    transform: translate(10px, -14px) scale(.8);
    color: black;
    padding-inline: 5px;
    background-color: #fff;
    
}

.input:is(:focus , :valid){
    
    outline-color: black;
    
}